.card_main {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 80%;

  justify-content: center;
  align-items: center;

  border-radius: 10px;
  margin: 30px;
}

.cardPice {
  margin: 1rem;
  padding: 1rem;

  width: 300px;
  height: 400px;

  display: flex;
  flex-direction: column;
}

img {
  background-color: darkgray;
  border: 1px solid black;
  padding: 2px;
  max-width: 100px;
  max-height: 50px;
  min-width: 100px;
  min-height: 50px;
}
